@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
*{
    font-family: 'Noto Sans TC', sans-serif;  
}
html,
body {
    height: 100%;
}
div.container{
    height: 30%;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        margin: 20px;
        color: aqua;
    }
    
    p {
        margin: 20px;
        color: fuchsia;
    }
}

div{
    &.box1{background-color: red;}
    &.box2{background-color: yellow;}
    &.box3{background-color: greenyellow;}
    &.box4{background-color: cyan;}
}

table,
tr,
th,
td{
    border: 1px solid #522203;
    border-spacing: 0;
}
th {
    color: black;
    background-color: #fff8d2;
}
div.box{
    height: 250px;
}

